<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>echarts词云图</title>
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <script src="static/js/echarts.min.js"></script>
    <script src="static/js/echarts-wordcloud.min.js"></script>
    <link href="static/css/style_wordcloud.css" rel="stylesheet">
</head>
<body>
    <div id="wordCloud" style="width: 1200px; height: 800px; border: 1px solid black;"></div>
    <div id="dropdown-container" class="dropdown"> </div>
    <button id="upload-button" class="dropdown-btn" >上传图片</button>
    <script src="static/js/wordcloud_button.js"></script>
</body>
</html>
