<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>世界地图</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.2/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!--注册world数据到echarts中-->
    <script src="../static/resources/js/world.js"></script>
    <style>
        #hw_map {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body style="width: 100vw;height: 100vh;padding: 0;margin: 0">
<div id="hw_map">
    <div id="world_map" style="width: 100%; height: 100%"></div>
</div>

<script>
    /*
    TODO：替换下面的ajax为数据访问：
    ① 更改数据提供方为请求者
    ② 更改数据获取方式为查询数据库（？）
     */
    $.ajax({
        url: "../static/resources/word.json",
        type: "GET",
        dataType: "json",
        success:
            function (data) {
                let dataAddr = JSON.parse('{{ dataAddr|safe }}');
                let locations = JSON.parse('{{ locations|safe }}');
                console.log("dataAddr: ")
                console.log(dataAddr)
                console.log(data.dataArr)
                console.log("namemap")
                console.log(data.namemap)
                console.log("locations")
                data.dataArr = dataAddr
                const mapContainer = document.getElementById('world_map');
                // 初始化echarts实例
                const myChart = echarts.init(mapContainer);
                // 地图配置项
                const option = {
                    title: {
                        show: 0,
                        text: "世界地图",
                        subtext: "示例",
                        left: "center",
                    },
                    tooltip: {
                        // hover时的提示框
                        trigger: "item",
                    },
                    visualMap: {
                        min: 0,
                        max: 150000,
                        left: "left",
                        top: "bottom",
                        text: ["高", "低"], // 文本，默认为数值文本
                        calculable: true,
                        color: ["#124782", "#D2E7FF"],
                        show: false,
                    },
                    series: [
                        {
                            name: "推文IP分布统计",
                            type: "map",
                            mapType: "world",
                            roam: true,
                            itemStyle: {
                                emphasis: {label: {show: true}},
                            },
                            nameMap: data.namemap,
                            data: data.dataArr,
                            // 标记点数据
                            markPoint: {
                                // 标记点的类型，可以自定义图片等
                                symbol: 'pin',
                                symbolSize: 20,
                                label: {
                                    show: true
                                },
                                // 省份的经纬度数据
                                data: locations
                            }
                        },
                    ],
                };
                // 使用刚指定的配置项和数据显示图表
                myChart.setOption(option);
            },
        error() {
            alert("访问错误");
        }
    });
</script>

</body>
</html>